@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/extend";

.body {
  background-color: $footer-bg-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__top {
    display: flex;
    flex-direction: column;

    padding: 20px;
    h2 {
      font-size: 1.4em;
      margin-bottom: 15px;
      @media screen and (min-width: 850px) {
        width: 75%;
        margin: 0 auto;
      }
    }
    .body__toptop {
      display: flex;
      flex-direction: column;
      align-items: start;
      width: 100%;
      margin: 0 auto;
      .body__acc {
        cursor: pointer;
        display: flex;
        gap: 20px;
        align-items: center;
        background-color: white;
        margin: 15px 0;
        border-radius: 20px;
        padding: 15px;
        .icon {
          font-size: 40px;
          background-color: $footer-bg-color;
          padding: 10px;
          font-weight: 600;
          border-radius: 20px;
        }
        .body__accinfo {
          display: flex;
          flex-direction: column;
          gap: 10px;
          h3 {
            font-weight: 600;
            font-size: 1.2em;
            letter-spacing: 1.2px;
          }
          p {
            font-weight: 500;
          }
        }

        @media screen and (min-width: 850px) {
          flex-direction: column;
          align-items: flex-start;
        }
      }
      @media screen and (min-width: 850px) {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
        width: 75%;
      }
    }
    @media screen and (min-width: 850px) {
      align-items: flex-start;
      width: 100%;
      padding: 20px 0;
      margin: 25px 0 0 0;
    }
  }
  &__bottom {
    cursor: pointer;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    .body__card {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background-color: white;
      min-height: 550px;
      border-radius: 20px;
      overflow: hidden;
      img {
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
      .body__cardinfo {
        display: flex;
        flex-direction: column;
        padding: 20px 15px;
        gap: 20px;
        h3 {
          font-weight: 600;
          font-size: 1.2em;
          letter-spacing: 1.2px;
        }
        p {
          font-weight: 500;
          line-height: 1.5;
        }
      }
    }

    @media screen and (min-width: 850px) {
      flex-direction: row;
      width: 75%;
      padding: 20px 0;
      margin: 25px 0;
    }
  }
  button {
    border: none;
    background-color: white;
    padding: 10px 20px;
    width: 70%;
    font-size: 1em;
    font-weight: 600;
    color: $main-bg-color;
    cursor: pointer;
    margin-bottom: 20px;
    @media screen and (min-width: 850px) {
      width: fit-content;
    }
  }
}
