.leftbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  flex: 2;
  background-color: #f2f1f5;
  padding: 20px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#e8e2e6, #f2f1f5, #eae1e6);
  padding: 5px 10px;
  border-radius: 5px;
  gap: 7px;
  cursor: pointer;
  font-weight: 500;
}

#title {
  color: black;
  opacity: 0.7;
  font-size: 15px;
}

.categoriestop {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.item1 {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 2px 5px;
}

.item1 span {
  font-weight: 500;
  color: orange;
}

.icon {
  color: orange;
}

.categoriesbottom {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#list {
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
}
