.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #013914;
  transition: 0.5s all ease;
  position: sticky;
  top: 0;
  left: 0;
  &.active {
    background-color: white;
    color: black;
  }
  color: white;
  .container {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    padding: 20px 0;
    .logo {
      font-size: 34px;
      font-weight: bold;
      .dot {
        color: #1dbf73;
      }
    }
    .links {
      font-family: "Montserrat", sans-serif;
      display: flex;
      align-items: center;
      gap: 24px;
      font-weight: 500;
      button {
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        background-color: transparent;
        cursor: pointer;
        transition: 0.3s;
        &:hover {
          background-color: #1dbf73;
          border-color: #1dbf73;
        }
      }
      .user {
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        img {
          width: 30px;
          height: 30px;
          object-fit: cover;
          border-radius: 50%;
        }
        .options {
          display: flex;
          flex-direction: column;
          gap: 10px;
          position: absolute;
          top: 50px;
          right: 0;
          padding: 20px;
          border-radius: 10px;
          border: 1px solid lightgray;
          background-color: white;
          color: gray;
          font-weight: 300;
          width: 200px;
        }
      }
    }
  }
  hr {
    width: 100%;
    height: 0;
    border: 0.1px solid white;
  }
  .menu {
    width: 1400px;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-weight: 300;
    font-family: "Montserrat", sans-serif;
    color: gray;
  }
}
