.continue {
  display: flex;
  flex: 1;
  height: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.continue .continueright {
  padding: 10px;
  width: 75%;
  position: relative;
}

.continue .continueright .continuetop {
  display: flex;
  justify-content: space-between;
}

.continue .continuebottom {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.continue .continuebottom span {
  font-weight: 400;
  font-size: 14px;
}

.continue .continueline .line {
}

.continue img {
  border-top-right-radius: 0;
  height: 100%;
  width: 25%;
  object-fit: cover;
}

.line {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  width: 60%;
  background-color: #ccc;
  background-color: orange;
}
