.singletodo {
  display: flex;
  align-items: center;
  gap: 50px;
  margin: 30px 40px;
  background-color: #333a45;
  color: white;
  font-size: 24px;
  padding: 5px 10px;
  border-radius: 10px;
}
.singletodo__text {
  text-transform: capitalize;
}

.icon {
  display: flex;
  align-items: center;
  font-size: 30px;
  gap: 10px;
}

.delete {
  color: red;
  cursor: pointer;
}

.edit {
  color: #34b7f1;
  cursor: pointer;
}

.done {
  color: #25d366;
  cursor: pointer;
}

.singletodo__input {
  outline: none;
  border: none;
  padding: 7px;
  border-radius: 5px;
  color: white;
  background-color: #23272f;
  font-size: 15px;
}
