.topbar {
  height: 7%;
  display: flex;
  gap: 20px;
  background-color: inherit;
}

.icons {
  flex: 0.3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dedce7;
  border-radius: 5px;
}

.search {
  flex: 5;
  background-color: #dedce7;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 20px;
  padding: 5px 10px;
}

.search input {
  border: none;
  background-color: transparent;
  outline: none;
}

input::placeholder {
  font-size: 15px;
}

.userinfo {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
  flex: 1.2;
  width: 100%;
}

.userinfo img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.userinfo span {
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}
